appdirs
appnope
autopep8
backports-abc
beautifulsoup4
bleach
bs4
cycler
decorator
entrypoints
eyeD3
facebook-sdk
flake8
flake8-docstrings
flake8-polyfill
gnureadline
html5lib
httplib2
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mccabe
mistune
mutagen
nbconvert
nbformat
notebook
numpy
packaging
pandocfilters
path.py
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pycodestyle
pydocstyle
pyflakes
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
requests
setuptools
simplegeneric
six
snowballstemmer
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
